.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.jokeCard {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 1);
  border: 1px solid rgba(var(--card-border-rgb), 1);
  transition: background 200ms, border 200ms;
  min-height: 125px;
}

.footer {
  text-align: center;
}

.infoText {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.setupText,
.punchlineText {
  text-align: center;
  font-size: 20px;
}

.setupText {
  margin-bottom: 25px;
}

.punchlineText {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
